* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #EEEEEE;
  font-family: 'Inter', sans-serif;
}

.box {
  width: 20.875em;
  min-height: 39.75em;
  border-radius: 0.625em;
  margin-top: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}


.main {
  padding: 30px;
}

@media (min-width: 27em) {
  .box {
    width: 26.875em;
    margin-top: 8em;
  }
}
